<%- include('include/_header') %>

  <main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
           <div class="filter">
               <a href="/"><i class="fas fa-angle-double-left"></i> All Inventory Items</a>
           </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">Update Inventory Item</h2>
            <span class="text-light">Use the below form to update an existing inventory item</span>
        </div>

 <form method="POST" id="update_item">
    <div class="new_item">
        <div class="form-group">
            <label for="name" class="text-light">Name</label>
            <input type="hidden" name="id" value="<%= item._id %>">
            <input type="text" name="name" value="<%= item.name %>">
        </div>

        <div class="form-group">
            <label for="type" class="text-light">Type</label>
            <div class="radio inline">
                <input type="radio" id="radio-2" name="type" value="Domestic" <%= item.type == 'Domestic' ? 'checked' : '' %>>
                <label for="radio-2" class="radio-label">Domestic</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-3" name="type" value="International"  <%= item.type == 'International' ? 'checked' : '' %> >
                <label for="radio-3" class="radio-label">International</label>
            </div>
        </div>

        <div class="form-group">
            <label for="status" class="text-light">Status</label>
            <div class="radio inline">
                <input type="radio" id="radio-4" name="status" value="Not Received" <%= item.status == 'Not Received' ? 'checked' : '' %> >
                <label for="radio-4" class="radio-label">Not Received</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-5" name="status" value="In Factory" <%= item.status == 'In Factory' ? 'checked' : '' %> >
                <label for="radio-5" class="radio-label">In Factory</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-6" name="status" value="Shipped" <%= item.status == 'Shipped' ? 'checked' : '' %> >
                <label for="radio-6" class="radio-label">Shipped</label>
            </div>
        </div>

        <div class="form-group">
            <label for="location" class="text-light">Location</label>
            <input type="text" name="location" value="<%= item.location %>">
        </div>

        <div class="form-group">
            <label for="receivedDate" class="text-light">Received Date</label>
            <input type="date" name="receivedDate" value="<%= item.receivedDate ? item.receivedDate.substring(0,10) : "" %>">
        </div>

        <div class="form-group">
            <label for="shippedDate" class="text-light">Shipped Date</label>
            <input type="date" name="shippedDate" value="<%= item.shippedDate ? item.shippedDate.substring(0, 10) : "" %>">
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Update</button>
        </div>

    </div>
</form>
       
    </div>
</main>

<%- include('include/_footer') %>